@font-face {
    font-family: "arupala_boldita";
    src: url("/assets/fonts/arupala_grotesk_trail/arupala_grotesk_trial_bold_italic.ttf");
}

@font-face {
    font-family: "arupala_semi_bold";
    src: url("/assets/fonts/arupala_grotesk_trail/arupala_grotesk_trial-semibold.ttf");
}

@font-face {
    font-family: "hoves_reg";
    src: url("/assets/fonts/tt_hoves/tt_hoves_pro_trial_regular.ttf");
}

footer {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    margin-top: 48px;
    box-sizing: border-box;
    
    & > img{
        display: block;
        width: clamp(362px, 84.3%, 1215px);
        opacity: 0.25;
        margin: 0 auto;
        margin-top: 80px;
    }
}

.footer-header {
    display: flex;
    height: 334px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-image: url("/assets/images/footer-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    padding: 0 112px;

    & .footer-header-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: "arupala_boldita";

        & label {
            font-size: 40px;
            color: #E4F23C;
        }

        & p {
            font-size: 20px;
            color: #E5E5E5;
        }
    }

    & .footer-btns{
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        height: fit-content;
        width: fit-content;

        & button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            width: 358px;
            border-radius: 20px;
            outline: none;
            border: none;
            background-color: #BDC830;
            color: #131312;
            font-family: "arupala_bold";
            font-size: 14px;
            cursor: pointer;
        }
    }
}

.footer-bottom{
    display: flex;
    border-top: 2px solid #31312F;
    box-sizing: border-box;
    padding-top: 32px;
    margin: 0 112px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;

    & label{
        font-family: "arupala_boldita";
        font-size: 16px;
        color: #E7E8E1;
    }

    & ul{
        display: flex;
        font-family: "arupala_semi_bold";
        font-size: 16px;
        color: #929292;
        gap: 16px;
        padding: 0;
        list-style: none;
        align-items: center;
    }

    & .app-icons{
        display: flex;
        column-gap: 24px;
        align-items: center;
        justify-content: center;
        width: 72px;
        & img{
            height: 24px;
            width: 24px;
            margin: 0;
        }
    }

}
.stores{
        display: flex;
        column-gap: 32px;
        align-items: center;
        justify-content: center;
        opacity: 0.25;
        & > img{
            width: 100px;
            height: 30px;
            margin: 0;
        }
}

.footer-bottom1{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-top: 2px solid #31312F;
    box-sizing: border-box;
    padding-top: 32px;
    margin: 0 16px;
    gap: 55px;
    & ul {
        display: flex;
        width: 100%;
        font-family: "arupala_semi_bold";
        font-size: 12px;
        color: #E7E8E1;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    & .app-icons1{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        & label{
            font-family: "arupala_boldita";
            font-size: 16px;
            color: #E7E8E1;
        }

        & div{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
            & img{
                height: 24px;
                width: 24px;
                margin: 0;
            }
        }
    }
   

}

.footer-label{
    font-family: "hoves_reg";
    font-size: 12px;
    color: #818181;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: 66px;
}

@media (max-width: 1220px){
     .footer-header{
        padding: 0 16px;
    }
    .footer-header-content {
        & label {
            font-size: 30px !important;
        }
        & p {
            font-size: 16px !important;
        }
    }

        .footer-bottom{
        & ul{
            font-size: 12px;
        }
    }
}

@media (max-width: 1086px){
    .footer-bottom{
        display: none;
    }
    .footer-bottom1{
        display: flex;

        & ul{
            font-size: 16px;
        }
    }

    .stores{
        opacity: 1;
    }
}

@media (max-width: 910px){
    .footer-btns{
        margin-top: 0;
        & > button{
            width: 270px !important;
        }
    }

     .footer-header-content {
        & label {
            font-size: 24px !important;
        }
        & p {
            font-size: 14px !important;
        }
    }
}


@media (max-width: 760px) {
    footer{
        & > img{
            margin-top: 56px !important;
        }
    }
    .footer-header{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: auto;
        background-image: none;
    }
    .footer-header-content {
        & label {
            font-size: 40px !important;
        }
        & p {
            font-size: 20px !important;
        }
    }
    .footer-btns{
        flex-direction: row !important;
        justify-content: space-between !important;
        width: 100% !important;
        margin-top: 32px;
        gap: 12px;
        & > button{
            width: 50% !important;
        }
    }
}

@media (max-width: 670px) {
    .footer-header-content {
        & label {
            font-size: 30px !important;
        }
        & p {
            font-size: 16px !important;
        }
    }
}

@media (max-width: 534px){
    .footer-header-content {
        & label {
            font-size: 20px !important;
        }
        & p {
            font-family: "hoves_reg" !important;
            font-size: 12px !important;
        }
    }
}

@media (max-width: 514px) {
    .footer-btns{
        flex-direction: column !important;
        & > button{
            width: max(358px, 100%)!important;
        }
    }
}

@media (max-width: 490px) {
    .footer-bottom1{
        & ul{
            font-size: 12px;
        }
    }
}

@media (max-width: 390px){
    .footer-btns{
        flex-direction: column !important;
        & > button{
            width: 100%!important;
        }
    }
}